Repository ansys/pyprimemesh, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.md
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
- tox.ini
- .pre-commit-config.yaml
testing:
- tests/*

Adds enum instead of magic strings
  src/ansys/meshing/prime/examples/examples.py
  tests/conftest.py
Labels: testing

Change example file in gallery
  examples/gallery/bracket_scaffold.py
  examples/gallery/lucid_mixing_elbow.py
  examples/gallery/lucid_pipe_tee.py
  examples/gallery/lucid_toy_car.py
  examples/misc/example_template.py
Labels: none

Rename the label 'maintenance' for dependabot.
  .github/dependabot.yml
Labels: maintenance

Updated the introduction
  doc/source/index.rst
Labels: documentation

formatting fixed
  doc/source/index.rst
Labels: documentation

Fix vale issues
  doc/styles/Vocab/ANSYS/accept.txt
Labels: none

Update dev version
  pyproject.toml
Labels: maintenance

Updated the introduction (#395)
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

Update dev version for client (#399)
  pyproject.toml
Labels: maintenance
