Repository ansys/pyprimemesh, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- doc/source/**/*
- README.md
maintenance:
- .github/**/*
- .flake8
- pyproject.toml
- tox.ini
- .pre-commit-config.yaml
testing:
- tests/*

Fix lucid/utils.py module
  .pre-commit-config.yaml
  src/ansys/meshing/prime/lucid/utils.py
Labels: maintenance

Fixes sizecontrol.py pydocstyle
  src/ansys/meshing/prime/core/sizecontrol.py
  src/ansys/meshing/prime/core/surfaceutilities.py
Labels: none

Fix wrappercontroll pydocstyle
  src/ansys/meshing/prime/core/wrappercontrol.py
Labels: none

Fix periodiccontrol
  src/ansys/meshing/prime/core/periodiccontrol.py
Labels: none

Fix volumecontrol
  src/ansys/meshing/prime/core/volumecontrol.py
Labels: none

Update mesh.py
  src/ansys/meshing/prime/lucid/mesh.py
Labels: none

Fix FileIO
  src/ansys/meshing/prime/core/fileio.py
Labels: none

Fix model
  src/ansys/meshing/prime/core/model.py
Labels: none

Fix part
  src/ansys/meshing/prime/core/part.py
Labels: none

Add EOL
  .pre-commit-config.yaml
Labels: maintenance

Updated Readme
  README.md
Labels: documentation

Update surfer.rst
  doc/source/user_guide/surfer.rst
Labels: documentation

Update src/ansys/meshing/prime/core/wrappercontrol.py
  src/ansys/meshing/prime/core/wrappercontrol.py
Labels: none

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Refactor download files
  src/ansys/meshing/prime/examples/__init__.py
  src/ansys/meshing/prime/examples/download_utilities.py
  src/ansys/meshing/prime/examples/examples.py
Labels: none

Simplifies init imports
  src/ansys/meshing/prime/examples/__init__.py
Labels: none

Add labels for issue.
  .github/labels.yml
Labels: maintenance

Add top priority label for issue.
  .github/labels.yml
Labels: maintenance

Change color label for issue.
  .github/labels.yml
Labels: maintenance

Add aps label for issue.
  .github/labels.yml
Labels: maintenance

Add ado label for issue.
  .github/labels.yml
Labels: maintenance

Updated Getting started
  doc/source/getting_started/index.rst
Labels: documentation

Update README.md
  README.md
Labels: documentation

Apply suggestions from code review
  src/ansys/meshing/prime/examples/examples.py
Labels: none

Refactor download code
  src/ansys/meshing/prime/examples/examples.py
  tests/conftest.py
Labels: testing

Update examples
  examples/gallery/bracket_scaffold.py
  examples/gallery/lucid_mixing_elbow.py
  examples/gallery/lucid_pipe_tee.py
  examples/gallery/lucid_toy_car.py
Labels: none

Update example template
  examples/misc/example_template.py
Labels: none

Update src/ansys/meshing/prime/examples/examples.py
  src/ansys/meshing/prime/examples/examples.py
Labels: none

Update to 0.4.0 development
  pyproject.toml
Labels: maintenance

Rename file to avoid doc warnings
  src/ansys/meshing/prime/lucid/__init__.py
  src/ansys/meshing/prime/lucid/mesh_util.py
Labels: none

Fix docs
  doc/source/user_guide/launch_prime.rst
Labels: documentation

Correct code directive across documentation
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/user_guide/automesh.rst
  doc/source/user_guide/concepts.rst
  doc/source/user_guide/connections.rst
  doc/source/user_guide/expressions.rst
  doc/source/user_guide/fileio.rst
  doc/source/user_guide/graphics.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/launch_prime.rst
  doc/source/user_guide/logging.rst
  doc/source/user_guide/lucid.rst
  doc/source/user_guide/mesh_diagnostics.rst
  doc/source/user_guide/sizing.rst
  doc/source/user_guide/surfer.rst
Labels: documentation

Update CI
  .github/workflows/ci_cd.yml
Labels: maintenance

Corrected function mispell
  doc/source/user_guide/surfer.rst
Labels: documentation

Update to development for next release (#390)
  .github/workflows/ci_cd.yml
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/user_guide/automesh.rst
  doc/source/user_guide/concepts.rst
  doc/source/user_guide/connections.rst
  doc/source/user_guide/expressions.rst
  doc/source/user_guide/fileio.rst
  doc/source/user_guide/graphics.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/launch_prime.rst
  doc/source/user_guide/logging.rst
  doc/source/user_guide/lucid.rst
  doc/source/user_guide/mesh_diagnostics.rst
  doc/source/user_guide/sizing.rst
  doc/source/user_guide/surfer.rst
  pyproject.toml
  src/ansys/meshing/prime/autogen/connect.py
  src/ansys/meshing/prime/autogen/connectstructs.py
  src/ansys/meshing/prime/autogen/primeconfig.py
  src/ansys/meshing/prime/autogen/surfaceutilities.py
  src/ansys/meshing/prime/autogen/surfaceutilitystructs.py
  src/ansys/meshing/prime/autogen/topodata.py
  src/ansys/meshing/prime/autogen/wrapper.py
  src/ansys/meshing/prime/autogen/wrapperstructs.py
  src/ansys/meshing/prime/core/fileio.py
  src/ansys/meshing/prime/core/model.py
  src/ansys/meshing/prime/core/surfaceutilities.py
  src/ansys/meshing/prime/internals/error_handling.py
  src/ansys/meshing/prime/internals/launcher.py
  src/ansys/meshing/prime/lucid/__init__.py
  src/ansys/meshing/prime/lucid/mesh_util.py
Labels: documentation, maintenance

Update lucid_mixing_elbow.py (#378)
  examples/gallery/lucid_mixing_elbow.py
Labels: none

Update lucid_toy_car.py (#379)
  examples/gallery/lucid_toy_car.py
Labels: none

Update bracket_scaffold.py (#380)
  examples/gallery/bracket_scaffold.py
Labels: none

Update mesh.py (#382)
  src/ansys/meshing/prime/lucid/mesh_util.py
Labels: none
