Repository ansys/pyprimemesh, pull requests merged in 2023-11, with the labels that each got.

#639 doc: Remove rule that is not working as expected
  doc/.vale.ini
Labels: documentation

#645 Update server APIs for dev10
  .github/workflows/ci_cd.yml
  pyproject.toml
  src/ansys/meshing/prime/autogen/fileiostructs.py
  src/ansys/meshing/prime/autogen/primeconfig.py
  src/ansys/meshing/prime/internals/error_handling.py
Labels: maintenance

#646 Review new example (and skim old examples)
  examples/gallery/01_bracket_scaffold.py
  examples/gallery/02_lucid_mixing_elbow.py
  examples/gallery/03_lucid_pipe_tee.py
  examples/gallery/04_lucid_toy_car.py
  examples/gallery/05_pcb_stacker.py
  examples/gallery/06_blade_morph.py
  examples/gallery/07_saddle_bracket.py
  examples/gallery/08_lucid_generic_f1_rear_wing.py
  examples/gallery/09_multi_layer_quad_mesh_pcb.py
Labels: documentation

#640 Update autoquadmesher.py
  src/ansys/meshing/prime/autogen/autoquadmesher.py
Labels: bug, documentation, aps

#642 update doc to add info to stacker
  doc/source/user_guide/stacker.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

#651 feat: Dependabot automerge workflow
  .github/workflows/dependabot_automerge.yml
Labels: maintenance

#652 added missing error code message
  src/ansys/meshing/prime/internals/error_handling.py
Labels: bug, enhancement

#655 Update expressions.rst
  doc/source/user_guide/expressions.rst
Labels: documentation

#626 new example 000
  doc/source/images/00_after_cad_import.png
  doc/source/images/00_after_delete_topology.png
  doc/source/images/00_after_mesh_generation.png
  doc/source/images/00_import_cas.png
  doc/source/images/00_import_cdb.png
  doc/source/images/00_import_pmdat.png
  doc/source/images/generic_solid_block.png
  doc/source/images/part_type_new.png
  examples/gallery/00_lucid_file_IO.py
  src/ansys/meshing/prime/examples/__init__.py
  src/ansys/meshing/prime/examples/examples.py
Labels: enhancement, documentation

#654 Update wrapper.rst
  doc/source/user_guide/wrapper.rst
Labels: documentation
