Repository ansys/pyprimemesh, pull requests merged in 2023-02, with the labels that each got.

#363 Workflow using pyansys actions
  .github/workflows/ci_cd.yml
  doc/Makefile
  doc/make.bat
Labels: Devops, Ready For Review

#367 Fix link to pyansys on docs main page
  doc/source/index.rst
Labels: Documentation, Ready For Review

#371 Fix condition in CI to not publish for dev releases
  .github/workflows/ci_cd.yml
Labels: Ready For Review

#373 Release to public PyPI - not private PyPI
  .github/workflows/ci_cd.yml
  doc/source/conf.py
  pyproject.toml
Labels: Devops, Maintenance

#374 Adjust isort configuration to resolve import issues
  pyproject.toml
  src/ansys/meshing/prime/__init__.py
  src/ansys/meshing/prime/core/controldata.py
  src/ansys/meshing/prime/core/fileio.py
  src/ansys/meshing/prime/core/model.py
  src/ansys/meshing/prime/core/part.py
  src/ansys/meshing/prime/core/periodiccontrol.py
  src/ansys/meshing/prime/core/sizecontrol.py
  src/ansys/meshing/prime/core/surfaceutilities.py
  src/ansys/meshing/prime/core/surfer.py
  src/ansys/meshing/prime/core/volumecontrol.py
  src/ansys/meshing/prime/core/wrapper.py
  src/ansys/meshing/prime/core/wrappercontrol.py
  src/ansys/meshing/prime/params/primestructs.py
Labels: BUG, Maintenance

#378 Update lucid_mixing_elbow.py
  examples/gallery/lucid_mixing_elbow.py
Labels: documentation

#379 Update lucid_toy_car.py
  examples/gallery/lucid_toy_car.py
Labels: documentation

#380 Update bracket_scaffold.py
  examples/gallery/bracket_scaffold.py
Labels: documentation

#382 Update mesh.py
  src/ansys/meshing/prime/lucid/mesh_util.py
Labels: documentation

#395 Updated the introduction
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

#399 Update dev version for client
  pyproject.toml
Labels: maintenance

#381 Add automatic labeler.
  .github/dependabot.yml
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/label.yml
Labels: maintenance
