Repository ansys/pyprimemesh, pull requests merged in 2023-08, with the labels that each got.

#573 maint: Add dependency grouping
  .github/dependabot.yml
Labels: maintenance

#578 Docs/add doc cheat sheet links
  README.md
  doc/source/index.rst
Labels: documentation

#580 Fix: Change default logger level to ERROR
  src/ansys/meshing/prime/core/model.py
  src/ansys/meshing/prime/internals/logger.py
Labels: bug

#583 Update 06_blade_morph.py
  examples/gallery/06_blade_morph.py
Labels: documentation
