Repository ansys/pyprimemesh, pull requests merged in 2023-01, with the labels that each got.

#328 Update version to 0.2.0
  src/ansys/meshing/prime/_version.py
Labels: Maintenance

#330 Revert to sphinx 5.3.0 to avoid broken navigation bar.
  .github/workflows/ci_cd.yml
  doc/source/_templates/sidebar-nav-bs.html
  doc/source/conf.py
  requirements/requirements_docs.txt
Labels: Documentation

#331 Revert temporary change made to fix release docs
  .github/workflows/ci_cd.yml
Labels: Documentation, Maintenance

#333 Update README.md
  README.md
Labels: Documentation

#334 Update index.rst
  doc/source/getting_started/index.rst
Labels: Documentation

#335 Release new API for server going into 2023R1 SP1
  .github/workflows/ci_cd.yml
  src/ansys/meshing/prime/_version.py
  src/ansys/meshing/prime/autogen/automeshstructs.py
  src/ansys/meshing/prime/autogen/collapsetoolstructs.py
  src/ansys/meshing/prime/autogen/commonstructs.py
  src/ansys/meshing/prime/autogen/commontypes.py
  src/ansys/meshing/prime/autogen/connect.py
  src/ansys/meshing/prime/autogen/connectstructs.py
  src/ansys/meshing/prime/autogen/controldata.py
  src/ansys/meshing/prime/autogen/controlstructs.py
  src/ansys/meshing/prime/autogen/deletetoolstructs.py
  src/ansys/meshing/prime/autogen/featureextractionstructs.py
  src/ansys/meshing/prime/autogen/fileiostructs.py
  src/ansys/meshing/prime/autogen/igastructs.py
  src/ansys/meshing/prime/autogen/materialpointmanager.py
  src/ansys/meshing/prime/autogen/materialpointmanagerstructs.py
  src/ansys/meshing/prime/autogen/meshinfo.py
  src/ansys/meshing/prime/autogen/meshinfostructs.py
  src/ansys/meshing/prime/autogen/model.py
  src/ansys/meshing/prime/autogen/modelstructs.py
  src/ansys/meshing/prime/autogen/part.py
  src/ansys/meshing/prime/autogen/partstructs.py
  src/ansys/meshing/prime/autogen/periodiccontrol.py
  src/ansys/meshing/prime/autogen/periodiccontrolstructs.py
  src/ansys/meshing/prime/autogen/primeconfig.py
  src/ansys/meshing/prime/autogen/prismcontrolstructs.py
  src/ansys/meshing/prime/autogen/scaffolderstructs.py
  src/ansys/meshing/prime/autogen/sizecontrolstructs.py
  src/ansys/meshing/prime/autogen/sizefieldstructs.py
  src/ansys/meshing/prime/autogen/splittoolstructs.py
  src/ansys/meshing/prime/autogen/surfacesearch.py
  src/ansys/meshing/prime/autogen/surfacesearchstructs.py
  src/ansys/meshing/prime/autogen/surfaceutilities.py
  src/ansys/meshing/prime/autogen/surfaceutilitystructs.py
  src/ansys/meshing/prime/autogen/surferstructs.py
  src/ansys/meshing/prime/autogen/thinvolumecontrolstructs.py
  src/ansys/meshing/prime/autogen/topoutilitystructs.py
  src/ansys/meshing/prime/autogen/transformstructs.py
  src/ansys/meshing/prime/autogen/volumecontrolstructs.py
  src/ansys/meshing/prime/autogen/volumemeshtoolstructs.py
  src/ansys/meshing/prime/autogen/volumesearchstructs.py
  src/ansys/meshing/prime/autogen/wrapperstructs.py
  src/ansys/meshing/prime/core/controldata.py
  src/ansys/meshing/prime/core/model.py
  src/ansys/meshing/prime/core/part.py
  src/ansys/meshing/prime/core/periodiccontrol.py
  src/ansys/meshing/prime/internals/error_handling.py
  src/ansys/meshing/prime/lucid/mesh.py
  src/ansys/meshing/prime/params/primestructs.py
Labels: Maintenance

#354 Fix issue with docs pulling pre-release dependencies
  .github/workflows/ci_cd.yml
Labels: Devops, Maintenance

#343 Moving setup.py to pyproject.toml
  pyproject.toml
  setup.py
  src/ansys/meshing/prime/__init__.py
  src/ansys/meshing/prime/_version.py
Labels: Ready For Review

#344 Implementing vale
  .github/workflows/ci_cd.yml
  doc/.vale.ini
  doc/source/_static/README.md
  doc/source/_templates/autosummary/class.rst
  doc/source/_templates/autosummary/module.rst
  doc/source/api/index.rst
  doc/source/contributing/index.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/user_guide/automesh.rst
  doc/source/user_guide/concepts.rst
  doc/source/user_guide/connections.rst
  doc/source/user_guide/expressions.rst
  doc/source/user_guide/fileio.rst
  doc/source/user_guide/graphics.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/launch_prime.rst
  doc/source/user_guide/logging.rst
  doc/source/user_guide/lucid.rst
  doc/source/user_guide/mesh_diagnostics.rst
  doc/source/user_guide/sizing.rst
  doc/source/user_guide/surfer.rst
  doc/styles/.gitignore
  doc/styles/Vocab/ANSYS/accept.txt
  doc/styles/Vocab/ANSYS/reject.txt
Labels: Ready For Review

#359 Update index.rst
  doc/source/getting_started/index.rst
Labels: Documentation

#358 Implementing requirements inside pyproject.toml file
  .github/dependabot.yml
  .github/workflows/ci_cd.yml
  pyproject.toml
  requirements/requirements_build.txt
  requirements/requirements_docs.txt
  requirements/requirements_style.txt
  requirements/requirements_tests.txt
  tox.ini
Labels: Ready For Review

#350 Update mesh.py
  src/ansys/meshing/prime/lucid/mesh.py
Labels: Ready For Review

#342 Implementing additional pre-commit hooks.
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  README.md
  doc/source/conf.py
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/user_guide/automesh.rst
  doc/source/user_guide/concepts.rst
  doc/source/user_guide/connections.rst
  doc/source/user_guide/expressions.rst
  doc/source/user_guide/fileio.rst
  doc/source/user_guide/graphics.rst
  doc/source/user_guide/launch_prime.rst
  doc/source/user_guide/logging.rst
  doc/source/user_guide/lucid.rst
  doc/source/user_guide/mesh_diagnostics.rst
  doc/source/user_guide/sizing.rst
  doc/source/user_guide/surfer.rst
  examples/gallery/bracket_scaffold.py
  examples/gallery/lucid_mixing_elbow.py
  examples/gallery/lucid_pipe_tee.py
  examples/gallery/lucid_toy_car.py
  examples/other/mixing_elbow.py
  examples/other/pipe_tee.py
  ignore_words.txt
  src/ansys/meshing/prime/__init__.py
  src/ansys/meshing/prime/core/controldata.py
  src/ansys/meshing/prime/core/fileio.py
  src/ansys/meshing/prime/core/model.py
  src/ansys/meshing/prime/core/part.py
  src/ansys/meshing/prime/core/periodiccontrol.py
  src/ansys/meshing/prime/core/sizecontrol.py
  src/ansys/meshing/prime/core/surfaceutilities.py
  src/ansys/meshing/prime/core/surfer.py
  src/ansys/meshing/prime/core/volumecontrol.py
  src/ansys/meshing/prime/core/wrapper.py
  src/ansys/meshing/prime/core/wrappercontrol.py
  src/ansys/meshing/prime/examples/__init__.py
  src/ansys/meshing/prime/examples/download.py
  src/ansys/meshing/prime/graphics/graphics.py
  src/ansys/meshing/prime/internals/client.py
  src/ansys/meshing/prime/internals/error_handling.py
  src/ansys/meshing/prime/internals/grpc_communicator.py
  src/ansys/meshing/prime/internals/json_utils.py
  src/ansys/meshing/prime/internals/launcher.py
  src/ansys/meshing/prime/internals/prime_communicator.py
  src/ansys/meshing/prime/internals/utils.py
  src/ansys/meshing/prime/lucid/__init__.py
  src/ansys/meshing/prime/lucid/mesh.py
  src/ansys/meshing/prime/lucid/scope.py
  src/ansys/meshing/prime/params/primestructs.py
  src/ansys/meshing/prime/relaxed_json/__init__.py
  src/ansys/meshing/prime/relaxed_json/decoder.py
  src/ansys/meshing/prime/relaxed_json/encoder.py
  src/ansys/meshing/prime/relaxed_json/scanner.py
  tests/conftest.py
Labels: Ready For Review
