Repository ansys/pyprimemesh, pull requests merged in 2023-06, with the labels that each got.

#496 Unrelease beta quadtospline API
  src/ansys/meshing/prime/__init__.py
  src/ansys/meshing/prime/autogen/igastructs.py
  src/ansys/meshing/prime/autogen/quadtospline.py
Labels: bug

#495 maint: Fix pydocstyle issues
  .pre-commit-config.yaml
  examples/other/mixing_elbow.py
  src/ansys/meshing/prime/core/controldata.py
  src/ansys/meshing/prime/core/fileio.py
  src/ansys/meshing/prime/core/model.py
  src/ansys/meshing/prime/core/part.py
  src/ansys/meshing/prime/core/surfaceutilities.py
  src/ansys/meshing/prime/core/surfer.py
  src/ansys/meshing/prime/core/volumesweeper.py
  src/ansys/meshing/prime/core/wrapper.py
  src/ansys/meshing/prime/graphics/graphics.py
  src/ansys/meshing/prime/graphics/trame_gui.py
  src/ansys/meshing/prime/internals/client.py
  src/ansys/meshing/prime/internals/comm_manager.py
  src/ansys/meshing/prime/internals/communicator.py
  src/ansys/meshing/prime/internals/config.py
  src/ansys/meshing/prime/internals/defaults.py
  src/ansys/meshing/prime/internals/error_handling.py
  src/ansys/meshing/prime/internals/grpc_communicator.py
  src/ansys/meshing/prime/internals/grpc_utils.py
  src/ansys/meshing/prime/internals/json_utils.py
  src/ansys/meshing/prime/internals/launcher.py
  src/ansys/meshing/prime/internals/prime_communicator.py
  src/ansys/meshing/prime/internals/utils.py
  src/ansys/meshing/prime/lucid/mesh_util.py
  src/ansys/meshing/prime/lucid/scope.py
  src/ansys/meshing/prime/params/primestructs.py
  src/ansys/meshing/prime/relaxed_json/decoder.py
  src/ansys/meshing/prime/relaxed_json/encoder.py
  src/ansys/meshing/prime/relaxed_json/scanner.py
  tests/graphics/test_graphics.py
Labels: maintenance

#503 Fix/timeout
  doc/source/getting_started/index.rst
  src/ansys/meshing/prime/internals/defaults.py
  src/ansys/meshing/prime/internals/grpc_communicator.py
  src/ansys/meshing/prime/internals/utils.py
  tests/core/test_fileio.py
Labels: bug, documentation

#491 feat: Add test for utils functions
  tests/internals/test_utils.py
Labels: testing

#507 feat: Add singleton logger
  .gitignore
  src/ansys/meshing/prime/core/model.py
  src/ansys/meshing/prime/internals/logger.py
  tests/internals/test_logger.py
Labels: enhancement

#508 doc/adding_pcb_scdoc_example
  src/ansys/meshing/prime/examples/examples.py
Labels: documentation

#454 doc/update_pcb_stacker_example
  examples/gallery/pcb_stacker.py
  src/ansys/meshing/prime/examples/examples.py
Labels: documentation

#510 doc/saddle_bracket_example
  doc/source/images/saddle_bracket.png
  examples/gallery/06_saddle_bracket.py
  src/ansys/meshing/prime/examples/__init__.py
  src/ansys/meshing/prime/examples/examples.py
Labels: documentation

#523 Add files via upload
  doc/source/images/saddle_bracket.png
Labels: documentation

#504 Add check for file existence on file lists
  src/ansys/meshing/prime/internals/config.py
  src/ansys/meshing/prime/internals/utils.py
  tests/core/test_fileio.py
Labels: bug

#509 Doc/api ref cleanup
  README.md
  doc/source/contributing/index.rst
  doc/source/user_guide/automesh.rst
  doc/source/user_guide/concepts.rst
  doc/source/user_guide/connections.rst
  doc/source/user_guide/launch_prime.rst
  doc/source/user_guide/mesh_diagnostics.rst
  doc/source/user_guide/stacker.rst
  doc/source/user_guide/surfer.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/gallery/README.txt
  examples/misc/README.txt
  src/ansys/meshing/prime/core/controldata.py
  src/ansys/meshing/prime/core/fileio.py
  src/ansys/meshing/prime/core/model.py
  src/ansys/meshing/prime/core/part.py
  src/ansys/meshing/prime/core/periodiccontrol.py
  src/ansys/meshing/prime/core/sizecontrol.py
  src/ansys/meshing/prime/core/surfaceutilities.py
  src/ansys/meshing/prime/core/surfer.py
  src/ansys/meshing/prime/core/volumecontrol.py
  src/ansys/meshing/prime/core/volumesweeper.py
  src/ansys/meshing/prime/core/wrapper.py
  src/ansys/meshing/prime/core/wrappercontrol.py
  src/ansys/meshing/prime/examples/download_utilities.py
  src/ansys/meshing/prime/examples/examples.py
  src/ansys/meshing/prime/examples/unit_test_examples.py
  src/ansys/meshing/prime/graphics/graphics.py
  src/ansys/meshing/prime/graphics/trame_gui.py
  src/ansys/meshing/prime/internals/client.py
  src/ansys/meshing/prime/internals/comm_manager.py
  src/ansys/meshing/prime/internals/communicator.py
  src/ansys/meshing/prime/internals/config.py
  src/ansys/meshing/prime/internals/defaults.py
  src/ansys/meshing/prime/internals/error_handling.py
  src/ansys/meshing/prime/internals/grpc_communicator.py
  src/ansys/meshing/prime/internals/grpc_utils.py
  src/ansys/meshing/prime/internals/json_utils.py
  src/ansys/meshing/prime/internals/launcher.py
  src/ansys/meshing/prime/internals/logger.py
  src/ansys/meshing/prime/internals/prime_communicator.py
  src/ansys/meshing/prime/internals/utils.py
  src/ansys/meshing/prime/lucid/mesh_util.py
  src/ansys/meshing/prime/relaxed_json/__init__.py
Labels: documentation

#526 Update README.txt
  examples/gallery/README.txt
Labels: documentation
