Repository ansys/pyprimemesh, pull requests merged in 2024-03, with the labels that each got.

#736 Update PYPI
  doc/source/getting_started/index.rst
Labels: documentation

#722 Fixed the version in Launch Prime
  doc/source/user_guide/launch_prime.rst
Labels: documentation

#738 Update pyproject.toml
  pyproject.toml
Labels: dependencies, maintenance, graphics

#739 MAINT: Update code from ADO - 0.6.0.dev4
  .github/workflows/ci_cd.yml
  pyproject.toml
  src/ansys/meshing/prime/autogen/connectstructs.py
  src/ansys/meshing/prime/autogen/fileiostructs.py
  src/ansys/meshing/prime/autogen/primeconfig.py
  src/ansys/meshing/prime/autogen/surfaceutilities.py
  src/ansys/meshing/prime/autogen/surfaceutilitystructs.py
  src/ansys/meshing/prime/internals/error_handling.py
Labels: maintenance

#743 MAINT: Update code from ADO - 0.6.0.dev6
  src/ansys/meshing/prime/autogen/commonstructs.py
  src/ansys/meshing/prime/internals/utils.py
  src/ansys/meshing/prime/lucid/mesh_util.py
Labels: maintenance

#744 updated dev version
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: maintenance

#745 Update index.rst
  doc/source/getting_started/index.rst
  doc/source/user_guide/launch_prime.rst
Labels: documentation

#746 feat: add changelog action
  .github/workflows/label.yml
  CHANGELOG.md
  doc/changelog.d/746.added.md
  doc/changelog.d/changelog_template.jinja
  doc/styles/Vocab/ANSYS/accept.txt
  pyproject.toml
Labels: enhancement, maintenance
