Repository ansys/pyprimemesh, pull requests merged in 2024-09, with the labels that each got.

#888 fix: Labeler pointing to main
  .github/workflows/label.yml
  doc/changelog.d/888.fixed.md
Labels: bug, maintenance

#882 MAINT: update code form ADO 0.7.0.dev14
  .github/workflows/ci_cd.yml
  doc/changelog.d/882.maintenance.md
  pyproject.toml
  src/ansys/meshing/prime/autogen/commontypes.py
  src/ansys/meshing/prime/autogen/connect.py
  src/ansys/meshing/prime/autogen/connectstructs.py
  src/ansys/meshing/prime/autogen/controlstructs.py
  src/ansys/meshing/prime/autogen/fileio.py
  src/ansys/meshing/prime/autogen/fileiostructs.py
  src/ansys/meshing/prime/autogen/materialpointmanager.py
  src/ansys/meshing/prime/autogen/model.py
  src/ansys/meshing/prime/autogen/morpher.py
  src/ansys/meshing/prime/autogen/multizonecontrol.py
  src/ansys/meshing/prime/autogen/part.py
  src/ansys/meshing/prime/autogen/partstructs.py
  src/ansys/meshing/prime/autogen/primeconfig.py
  src/ansys/meshing/prime/core/dynaexportutils.py
  src/ansys/meshing/prime/core/fileio.py
  src/ansys/meshing/prime/core/mapdlcdbexportutils.py
  src/ansys/meshing/prime/core/model.py
  src/ansys/meshing/prime/internals/communicator.py
  src/ansys/meshing/prime/internals/error_handling.py
  src/ansys/meshing/prime/internals/grpc_communicator.py
  src/ansys/meshing/prime/internals/launcher.py
  src/ansys/meshing/prime/internals/prime_communicator.py
Labels: maintenance

#848 Update tox.ini for 251
  doc/changelog.d/848.maintenance.md
  tox.ini
Labels: maintenance

#838 Feat/add solder ball example
  doc/changelog.d/822.added.md
  doc/changelog.d/838.added.md
  doc/source/images/solder_ball_mesh_cross_section.png
  examples/gallery/11_solder_ball.py
  src/ansys/meshing/prime/examples/__init__.py
  src/ansys/meshing/prime/examples/examples.py
Labels: enhancement, documentation

#892 Update 10_wheel_ground_contact_patch.py
  doc/changelog.d/892.documentation.md
  examples/gallery/10_wheel_ground_contact_patch.py
Labels: documentation

#893 Update version compatibility in docs
  doc/changelog.d/893.documentation.md
  doc/source/getting_started/index.rst
Labels: documentation

#898 maint: Remove branch action in favor of rulesets
  .github/workflows/ci_cd.yml
  doc/changelog.d/898.maintenance.md
Labels: maintenance
