Repository ansys/pyprimemesh, pull requests merged in 2024-01, with the labels that each got.

#692 fix: Change merge to squash and merge in dependabot_automerge workflow
  .github/workflows/dependabot_automerge.yml
Labels: bug, maintenance

#694 fix: Add echo to actor in dependabot automerge
  .github/workflows/dependabot_automerge.yml
Labels: bug, maintenance

#695 fix: Add PyAnsys bot login
  .github/workflows/dependabot_automerge.yml
Labels: bug, maintenance

#663 Update version to dev11
  pyproject.toml
  src/ansys/meshing/prime/autogen/thinvolumecontrolstructs.py
  src/ansys/meshing/prime/internals/launcher.py
Labels: maintenance

#689 Update the docstring of local_model()
  src/ansys/meshing/prime/__init__.py
Labels: documentation

#686 Doc/featcollapsetool
  src/ansys/meshing/prime/autogen/collapsetool.py
Labels: documentation

#698 fix: Quotes on echo command
  .github/workflows/dependabot_automerge.yml
Labels: bug, maintenance

#656 Update lucid.rst
  doc/source/user_guide/lucid.rst
Labels: documentation

#680 MultiZone
  doc/source/images/multizone_automesh.png
  doc/source/images/multizone_freemeshpng.png
  doc/source/images/multizone_meshing.png
  doc/source/images/multizone_model.png
  doc/source/images/multizone_sizing.png
  doc/source/images/multizone_source_target.png
  doc/source/user_guide/index.rst
  doc/source/user_guide/multizone.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

#679 Create IGA
  doc/source/images/model_iga.png
  doc/source/user_guide/iga.rst
  doc/source/user_guide/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation

#702 Use release version of API
  pyproject.toml
Labels: maintenance
