Repository ansys/pyprimemesh, pull requests merged in 2024-07, with the labels that each got.

#819 Doc/license
  doc/changelog.d/818.miscellaneous.md
  doc/changelog.d/819.miscellaneous.md
  doc/source/getting_started/index.rst
Labels: documentation

#820 added deploy_changelog job
  .github/workflows/ci_cd.yml
  doc/changelog.d/818.miscellaneous.md
  doc/changelog.d/820.changed.md
Labels: maintenance

#824 maint: upgrade version to 0.6.1
  doc/changelog.d/824.changed.md
  pyproject.toml
Labels: maintenance

#806 feat: Adapt to `visualization-tool-interface`
  doc/changelog.d/806.added.md
  doc/source/conf.py
  doc/source/user_guide/graphics.rst
  doc/source/user_guide/surfer.rst
  examples/gallery/00_lucid_file_IO.py
  examples/gallery/01_bracket_scaffold.py
  examples/gallery/02_lucid_mixing_elbow.py
  examples/gallery/03_lucid_pipe_tee.py
  examples/gallery/04_lucid_toy_car.py
  examples/gallery/05_pcb_stacker.py
  examples/gallery/06_blade_morph.py
  examples/gallery/07_saddle_bracket.py
  examples/gallery/08_lucid_generic_f1_rear_wing.py
  examples/gallery/09_multi_layer_quad_mesh_pcb.py
  examples/misc/example_template.py
  examples/other/elbow_trame.py
  examples/other/pipe_tee.py
  pyproject.toml
  src/ansys/meshing/prime/core/mesh.py
  src/ansys/meshing/prime/core/model.py
  src/ansys/meshing/prime/graphics/__init__.py
  src/ansys/meshing/prime/graphics/graphics.py
  src/ansys/meshing/prime/graphics/plotter.py
  src/ansys/meshing/prime/graphics/trame_gui.py
  src/ansys/meshing/prime/graphics/widgets/color_by_type.py
  src/ansys/meshing/prime/graphics/widgets/hide_picked.py
  src/ansys/meshing/prime/graphics/widgets/images/bin.png
  src/ansys/meshing/prime/graphics/widgets/images/invert_visibility.png
  src/ansys/meshing/prime/graphics/widgets/images/parts.png
  src/ansys/meshing/prime/graphics/widgets/images/selectioninfo.png
  src/ansys/meshing/prime/graphics/widgets/images/show_edges.png
  src/ansys/meshing/prime/graphics/widgets/images/show_ruler.png
  src/ansys/meshing/prime/graphics/widgets/images/surface_body.png
  src/ansys/meshing/prime/graphics/widgets/picked_info.py
  src/ansys/meshing/prime/graphics/widgets/toggle_edges.py
  tests/conftest.py
  tests/graphics/test_graphics.py
  tests/test_elbow_scdoc.py
Labels: testing, enhancement, maintenance, documentation

#831 Doc fix for add_scope
  doc/changelog.d/831.miscellaneous.md
  src/ansys/meshing/prime/graphics/plotter.py
Labels: documentation

#833 Added example to plot
  doc/changelog.d/833.added.md
  src/ansys/meshing/prime/graphics/plotter.py
Labels: enhancement, documentation, graphics

#792 feat: Add contact patch example
  doc/changelog.d/791.added.md
  doc/changelog.d/792.added.md
  doc/source/images/contact_patch.png
  examples/gallery/10_wheel_ground_contact_patch.py
  src/ansys/meshing/prime/examples/__init__.py
  src/ansys/meshing/prime/examples/examples.py
Labels: enhancement, documentation

#834 Update plotter.py
  doc/changelog.d/834.miscellaneous.md
  src/ansys/meshing/prime/graphics/plotter.py
Labels: documentation, graphics

#839 Update 10_wheel_ground_contact_patch.py
  doc/changelog.d/839.miscellaneous.md
  examples/gallery/10_wheel_ground_contact_patch.py
Labels: documentation

#841 doc/cleanup examples
  doc/changelog.d/841.miscellaneous.md
  examples/gallery/00_lucid_file_IO.py
  examples/gallery/01_bracket_scaffold.py
  examples/gallery/02_lucid_mixing_elbow.py
  examples/gallery/03_lucid_pipe_tee.py
  examples/gallery/04_lucid_toy_car.py
  examples/gallery/05_pcb_stacker.py
  examples/gallery/06_blade_morph.py
  examples/gallery/07_saddle_bracket.py
  examples/gallery/08_lucid_generic_f1_rear_wing.py
  examples/gallery/09_multi_layer_quad_mesh_pcb.py
Labels: documentation
