Repository ansys/pyprimemesh, pull requests merged in 2024-08, with the labels that each got.

#846 maint: Drop 3.9 support
  .github/workflows/ci_cd.yml
  doc/changelog.d/846.maintenance.md
  pyproject.toml
  tox.ini
Labels: maintenance

#847 Update tox.ini
  doc/changelog.d/847.fixed.md
  tox.ini
Labels: bug, maintenance

#851 fix: Example issues
  doc/changelog.d/851.fixed.md
  examples/gallery/04_lucid_toy_car.py
  examples/gallery/08_lucid_generic_f1_rear_wing.py
  src/ansys/meshing/prime/core/mesh.py
  src/ansys/meshing/prime/core/model.py
Labels: bug

#858 fix: Main package import error
  doc/changelog.d/858.fixed.md
  src/ansys/meshing/prime/core/model.py
Labels: bug

#861 fix: Slow plotting
  doc/changelog.d/861.fixed.md
  examples/gallery/00_lucid_file_IO.py
  examples/gallery/01_bracket_scaffold.py
  examples/gallery/03_lucid_pipe_tee.py
  examples/gallery/04_lucid_toy_car.py
  examples/gallery/05_pcb_stacker.py
  examples/gallery/06_blade_morph.py
  examples/gallery/07_saddle_bracket.py
  examples/gallery/08_lucid_generic_f1_rear_wing.py
  examples/gallery/09_multi_layer_quad_mesh_pcb.py
  examples/gallery/10_wheel_ground_contact_patch.py
  src/ansys/meshing/prime/core/mesh.py
  src/ansys/meshing/prime/core/model.py
  src/ansys/meshing/prime/graphics/plotter.py
Labels: bug
