Repository ansys/pyprimemesh, pull requests merged in 2024-11, with the labels that each got.

#933 Update automesh.rst
  doc/changelog.d/933.documentation.md
  doc/source/user_guide/automesh.rst
Labels: documentation

#934 MAINT: update code from ADO 0.7.0.dev20
  .github/workflows/ci_cd.yml
  doc/changelog.d/934.maintenance.md
  pyproject.toml
  src/ansys/meshing/prime/autogen/igastructs.py
  src/ansys/meshing/prime/autogen/model.py
  src/ansys/meshing/prime/autogen/primeconfig.py
  src/ansys/meshing/prime/autogen/shellblcontrolstructs.py
  src/ansys/meshing/prime/autogen/surfer.py
  src/ansys/meshing/prime/autogen/toposearchstructs.py
  src/ansys/meshing/prime/core/fileio.py
  src/ansys/meshing/prime/core/mapdlcdbexportutils.py
  src/ansys/meshing/prime/core/model.py
  src/ansys/meshing/prime/core/surfer.py
  src/ansys/meshing/prime/internals/error_handling.py
Labels: maintenance

#936 Update fileiostructs.py
  doc/changelog.d/936.documentation.md
  src/ansys/meshing/prime/autogen/fileiostructs.py
Labels: documentation

#944 fix: Error appearing in some examples while documentation building
  .flake8
  .github/workflows/ci_cd.yml
  doc/changelog.d/944.fixed.md
  doc/make.bat
  examples/gallery/05_pcb_stacker.py
  examples/gallery/07_saddle_bracket.py
  examples/gallery/10_wheel_ground_contact_patch.py
  examples/gallery/11_solder_ball.py
  pyproject.toml
  src/ansys/meshing/prime/internals/client.py
Labels: bug, maintenance
