Repository ansys/pyprimemesh, pull requests merged in 2024-05, with the labels that each got.

#778 updated version for dev9
  .github/workflows/ci_cd.yml
  doc/changelog.d/778.changed.md
  pyproject.toml
Labels: maintenance

#770 Update multizone.rst
  doc/changelog.d/770.miscellaneous.md
  doc/source/images/multizone_meshing.png
  doc/source/images/multizone_model.png
  doc/source/images/multizone_sizing.png
  doc/source/user_guide/multizone.rst
Labels: documentation

#782 updated multizone.rst
  doc/changelog.d/782.changed.md
  doc/source/user_guide/multizone.rst
Labels: maintenance, documentation

#785 maint: Update deprecated PyVista import
  doc/changelog.d/785.changed.md
  src/ansys/meshing/prime/graphics/graphics.py
Labels: maintenance

#783 doc: Add local test and doc to CONTRIBUTING guide
  CONTRIBUTING.md
  README.md
  doc/changelog.d/783.miscellaneous.md
Labels: documentation

#786 Update multizone.rst
  doc/changelog.d/786.changed.md
  doc/source/user_guide/multizone.rst
Labels: maintenance, documentation

#790 MAINT: Update code from ADO - 0.6.0
  .github/workflows/ci_cd.yml
  doc/changelog.d/790.changed.md
  pyproject.toml
  src/ansys/meshing/prime/autogen/autoquadmesher.py
  src/ansys/meshing/prime/autogen/autoquadmesherstructs.py
  src/ansys/meshing/prime/autogen/commonstructs.py
  src/ansys/meshing/prime/autogen/connect.py
  src/ansys/meshing/prime/autogen/connectstructs.py
  src/ansys/meshing/prime/autogen/controldata.py
  src/ansys/meshing/prime/autogen/controlstructs.py
  src/ansys/meshing/prime/autogen/fileio.py
  src/ansys/meshing/prime/autogen/fileiostructs.py
  src/ansys/meshing/prime/autogen/igastructs.py
  src/ansys/meshing/prime/autogen/multizonecontrol.py
  src/ansys/meshing/prime/autogen/part.py
  src/ansys/meshing/prime/autogen/primeconfig.py
  src/ansys/meshing/prime/autogen/quadtospline.py
  src/ansys/meshing/prime/autogen/scaffolderstructs.py
  src/ansys/meshing/prime/autogen/surfaceutilities.py
  src/ansys/meshing/prime/autogen/surfaceutilitystructs.py
  src/ansys/meshing/prime/autogen/thinvolumecontrol.py
  src/ansys/meshing/prime/autogen/topodata.py
  src/ansys/meshing/prime/autogen/topodatastructs.py
  src/ansys/meshing/prime/autogen/toposearchstructs.py
  src/ansys/meshing/prime/autogen/volumemeshtool.py
  src/ansys/meshing/prime/autogen/vtcomposer.py
  src/ansys/meshing/prime/autogen/vtcomposerstructs.py
  src/ansys/meshing/prime/autogen/wrapper.py
  src/ansys/meshing/prime/autogen/wrapperstructs.py
  src/ansys/meshing/prime/core/dynaexportutils.py
  src/ansys/meshing/prime/core/fileio.py
  src/ansys/meshing/prime/core/mapdlcdbexportutils.py
  src/ansys/meshing/prime/core/wrapper.py
  src/ansys/meshing/prime/internals/logger.py
  src/ansys/meshing/prime/internals/utils.py
  tests/lucid/test_mesh_utils.py
Labels: maintenance

#796 Use simple verbs in example titles
  doc/changelog.d/796.miscellaneous.md
  examples/gallery/00_lucid_file_IO.py
  examples/gallery/01_bracket_scaffold.py
  examples/gallery/02_lucid_mixing_elbow.py
  examples/gallery/03_lucid_pipe_tee.py
  examples/gallery/04_lucid_toy_car.py
  examples/gallery/05_pcb_stacker.py
  examples/gallery/06_blade_morph.py
  examples/gallery/07_saddle_bracket.py
  examples/gallery/08_lucid_generic_f1_rear_wing.py
  examples/gallery/09_multi_layer_quad_mesh_pcb.py
  examples/misc/example_template.py
Labels: documentation

#801 Maint/update beta message in docs
  doc/changelog.d/788.changed.md
  doc/changelog.d/801.changed.md
  doc/source/user_guide/iga.rst
Labels: maintenance, documentation

#800 Update Export LS-DYNA keyword file
  doc/changelog.d/800.miscellaneous.md
  doc/source/user_guide/fileio.rst
Labels: documentation

#802 Update wrapper.rst
  doc/changelog.d/802.miscellaneous.md
  doc/source/images/patchflow_demo.png
  doc/source/images/patchflow_model.png
  doc/source/images/patchflow_modelex1.png
  doc/source/images/patchflow_modelex2.png
  doc/source/images/patchflow_modelex3.png
  doc/source/images/patchflow_modelex4.png
  doc/source/user_guide/wrapper.rst
Labels: documentation
