Repository ansys/pyprimemesh, pull requests merged in 2024-10, with the labels that each got.

#899 fix: PyVista deprecation
  doc/changelog.d/899.fixed.md
  src/ansys/meshing/prime/core/mesh.py
Labels: bug

#900 Update python version
  doc/changelog.d/900.documentation.md
  doc/source/getting_started/index.rst
Labels: documentation

#902 Update README.md
  README.md
  doc/changelog.d/902.documentation.md
Labels: documentation

#903 Create AUTHORS file
  AUTHORS.md
  doc/changelog.d/903.maintenance.md
Labels: maintenance

#906 fix: remove extension from authors file
  AUTHORS
  CONTRIBUTORS.md
  doc/changelog.d/906.fixed.md
Labels: bug

#909 Update 11_solder_ball.py
  doc/changelog.d/909.documentation.md
  examples/gallery/11_solder_ball.py
Labels: documentation

#917 Update README.md
  README.md
  doc/changelog.d/917.documentation.md
Labels: documentation

#921 updated ansys-api-meshing-prime version
  doc/changelog.d/921.maintenance.md
  pyproject.toml
Labels: maintenance

#922 Update 11_solder_ball.py
  doc/changelog.d/922.documentation.md
  examples/gallery/11_solder_ball.py
Labels: documentation

#925 Update fileio.rst
  doc/changelog.d/925.documentation.md
  doc/source/user_guide/fileio.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

#927 Update launch_prime.rst
  doc/changelog.d/927.documentation.md
  doc/source/images/client_exit_error.png
  doc/source/user_guide/launch_prime.rst
Labels: documentation

#928 fix: Visualizer version
  doc/changelog.d/928.fixed.md
  pyproject.toml
Labels: bug, maintenance
