Repository ansys/pyprimemesh, pull requests merged in 2025-06, with the labels that each got.

#1029 sync up client side changes from release/release-252
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/changelog.d/1029.maintenance.md
  pyproject.toml
  src/ansys/meshing/prime/autogen/igastructs.py
  src/ansys/meshing/prime/autogen/part.py
  src/ansys/meshing/prime/autogen/partstructs.py
  src/ansys/meshing/prime/autogen/shellblcontrolstructs.py
  src/ansys/meshing/prime/autogen/sizefieldstructs.py
  src/ansys/meshing/prime/autogen/thinvolumecontrol.py
  src/ansys/meshing/prime/autogen/trimmedspline.py
  src/ansys/meshing/prime/autogen/volumemeshtool.py
  src/ansys/meshing/prime/autogen/wrapperstructs.py
  src/ansys/meshing/prime/core/dynaexportutils.py
  src/ansys/meshing/prime/core/mapdlcdbexportutils.py
  src/ansys/meshing/prime/internals/error_handling.py
Labels: maintenance

#1031 revert the pyproj toml file
  doc/changelog.d/1031.maintenance.md
  pyproject.toml
Labels: maintenance

#1038 maint: check vulnerabilities
  .github/workflows/ci_cd.yml
  SECURITY.md
  doc/changelog.d/1038.maintenance.md
Labels: maintenance

#1041 maint: deploy pr docs
  .github/workflows/ci_cd.yml
  doc/changelog.d/1041.maintenance.md
Labels: maintenance

#1050 maint: temporary numpy fix
  doc/changelog.d/1050.maintenance.md
  pyproject.toml
Labels: maintenance

#1052 fix: Revert napoleon extension
  doc/changelog.d/1052.fixed.md
  doc/source/conf.py
Labels: bug, documentation

#1058 Doc/parallel gallery
  .github/workflows/ci_cd.yml
  doc/changelog.d/1053.documentation.md
  doc/changelog.d/1054.documentation.md
  doc/changelog.d/1058.documentation.md
  doc/source/conf.py
  pyproject.toml
Labels: maintenance, documentation
