Repository ansys/pyprimemesh, pull requests merged in 2025-09, with the labels that each got.

#1133 docs: update ``html_context`` with PyAnsys tags
  doc/changelog.d/1133.miscellaneous.md
  doc/source/conf.py
Labels: documentation

#1141 maint: Use merge queue
  .github/workflows/ci_cd.yml
  doc/changelog.d/1141.miscellaneous.md
Labels: maintenance

#952 feat: Integrate geometry imports
  doc/changelog.d/952.miscellaneous.md
  examples/gallery/10_wheel_ground_contact_patch.py
  examples/gallery/12_import_from_pygeometry.py
  pyproject.toml
  src/ansys/meshing/prime/lucid/mesh_util.py
Labels: enhancement, maintenance

#1146 fix: email link in README.md
  README.md
  doc/changelog.d/1146.miscellaneous.md
Labels: documentation

#1153 stable release for 2025 R2 SP02
  .github/workflows/ci_cd.yml
  doc/changelog.d/1153.miscellaneous.md
  pyproject.toml
Labels: maintenance

#1158 updates the pyproj.toml
  doc/changelog.d/1158.miscellaneous.md
  pyproject.toml
Labels: maintenance

#1160 fix for search bar issue
  doc/changelog.d/1160.miscellaneous.md
  doc/source/conf.py
  doc/source/getting_started/index.rst
Labels: documentation
