Repository ansys/pyprimemesh, pull requests merged in 2025-07, with the labels that each got.

#1075 fix: Wrong param in PrimePlotter
  doc/changelog.d/1075.miscellaneous.md
  src/ansys/meshing/prime/graphics/plotter.py
Labels: bug

#1059 feature: Enable parallel execution of example scripts before Sphinx build
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/changelog.d/1053.documentation.md
  doc/changelog.d/1054.documentation.md
  doc/changelog.d/1057.fixed.md
  doc/changelog.d/1058.documentation.md
  doc/changelog.d/1059.maintenance.md
  doc/source/conf.py
  pyproject.toml
  src/ansys/meshing/prime/internals/utils.py
Labels: enhancement, maintenance, documentation

#1089 updated the version before tagging
  doc/changelog.d/1089.miscellaneous.md
  pyproject.toml
Labels: maintenance

#1100 fix: Release action migration
  .github/workflows/ci_cd.yml
  doc/changelog.d/1100.miscellaneous.md
Labels: bug, maintenance

#1110 removed the dev4 version from pyproj.toml
  doc/changelog.d/1110.miscellaneous.md
  pyproject.toml
Labels: maintenance

#1113 fix: Search bar
  doc/changelog.d/1113.maintenance.md
  doc/source/conf.py
  pyproject.toml
Labels: bug, maintenance, documentation
